trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

variables:
- group: terraform-global-vars

stages:

# =========================
# STAGE 1 - VALIDATE & PLAN
# =========================
- stage: Terraform_Plan
  displayName: "Terraform Plan (AKS Infra)"
  jobs:
  - job: plan
    displayName: "Terraform Init / Validate / Plan"
    pool:
      vmImage: ubuntu-latest

    steps:
    - checkout: self

    - task: TerraformInstaller@1
      displayName: "Install Terraform"
      inputs:
        terraformVersion: "1.6.6"

    - task: AzureCLI@2
      displayName: "Terraform Init"
      inputs:
        azureSubscription: azure-sandbox-sc
        scriptType: bash
        scriptLocation: inlineScript
        workingDirectory: infra
        inlineScript: |
          terraform init

    - task: AzureCLI@2
      displayName: "Terraform Validate"
      inputs:
        azureSubscription: azure-sandbox-sc
        scriptType: bash
        scriptLocation: inlineScript
        workingDirectory: infra
        inlineScript: |
          terraform validate

    - task: AzureCLI@2
      displayName: "Terraform Plan"
      inputs:
        azureSubscription: azure-sandbox-sc
        scriptType: bash
        scriptLocation: inlineScript
        workingDirectory: infra
        inlineScript: |
          terraform plan -out=tfplan

    - publish: infra/tfplan
      artifact: tfplan

# =========================
# STAGE 2 - APPLY (APPROVAL)
# =========================
- stage: Terraform_Apply
  displayName: "Terraform Apply (Approved)"
  dependsOn: Terraform_Plan
  condition: succeeded()

  jobs:
  - deployment: apply
    displayName: "Apply AKS Infrastructure"
    environment: aks-sandbox
    pool:
      vmImage: ubuntu-latest

    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self

          - download: current
            artifact: tfplan

          # - task: TerraformInstaller@1
          #   displayName: "Install Terraform"
          #   inputs:
          #     terraformVersion: "1.6.6"

          - task: Bash@3
            displayName: "Install Terraform"
            inputs:
              targetType: inline
              script: |
                curl -fsSL https://releases.hashicorp.com/terraform/1.6.6/terraform_1.6.6_linux_amd64.zip -o terraform.zip
                unzip terraform.zip
                sudo mv terraform /usr/local/bin/
                terraform version    

          - task: AzureCLI@2
            displayName: "Terraform Apply"
            inputs:
              azureSubscription: azure-sandbox-sc
              scriptType: bash
              scriptLocation: inlineScript
              workingDirectory: infra
              inlineScript: |
                terraform init
                terraform apply -auto-approve $(Pipeline.Workspace)/tfplan/tfplan

