apiVersion: v1
kind: Service
metadata:
  name: minio-service
  namespace: storage
spec:
  type: LoadBalancer
  selector:
    app: minio
  ports:
    - name: api
      port: 9000
      targetPort: 9000
    - name: console
      port: 9002
      targetPort: 9002  
     

